<h2>Validaciones reactivas</h2>
<hr>


<div class="row">
    <div class="col">

        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">
            <!-- nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <input  type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario">
                <div class="col">
                <span   class="form-text text-danger"
                        *ngIf="campoNoValido('nombre')">
                        Debe ser en formato de Nombre y Apellido</span>
                </div>                
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <input  type="text"
                        formControlName="email"
                        class="form-control"
                        placeholder="Email del usuario">
                <span    class="form-text text-danger"
                        *ngIf="campoNoValido('email')">
                       {{emailErrorMsg}}
                </span>
                                
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <input  type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="Nombre código del usuario">
                <span    class="form-text text-danger"
                        *ngIf="campoNoValido('username')">
                        El username no puede ser Yoeik
                </span>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <input  type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="Password de su cuenta">
                        <span    class="form-text text-danger"
                        *ngIf="campoNoValido('password')">
                    La contraseña debe tener 6 caracteres o más
                    </span>
                                
            </div>

            <!-- Password 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <input  type="password"
                        formControlName="password2"
                        class="form-control"
                        placeholder="Confirmar la contraseña">
                        <span    class="form-text text-danger"
                        *ngIf="campoNoValido('password2')">
                    Las contraseñas deben coincidir
                    </span>
            
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary float-end"
                                        type="submit"
                                        [disabled]= "miFormulario.pending">
                                    Crear
                                </button>
                            </div>
                        </div>
            </div>
        </form>
    </div>
</div>


<h2>Form: valid {{miFormulario.valid}} </h2>
<h2>Form: Estado {{miFormulario.status}} </h2>
<h2>Form: Pendindg {{miFormulario.pending}} </h2>


<h2>Form: Errors  </h2>
<pre> {{miFormulario.errors | json}}</pre>

<h2>Nombre </h2>
<pre>{{miFormulario.controls.nombre.errors | json}} </pre>

<h2>Email </h2>
<pre>{{miFormulario.controls.email.errors | json}} </pre>

<h2>Username </h2>
<pre>{{miFormulario.controls.username.errors | json}} </pre>

<h2>password </h2>
<pre>{{miFormulario.controls.password.errors | json}} </pre>

<h2>password2 </h2>
<pre>{{miFormulario.controls.password2.errors | json}} </pre>